
body {
    margin: 0;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.field {
    cursor: pointer;
    display: grid;
    gap: var(--gap);
    width: var(--width);
    height: var(--height);
    grid-template-columns: repeat(var(--col), 1fr);
    grid-template-columns: repeat(var(--row), 1fr);
}

.box {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    width: calc((var(--width) - (var(--row) - 1) * var(--gap)) / var(--row));
    height: calc((var(--height) - (var(--col) - 1) * var(--gap)) / var(--col));
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: calc((var(--height) - (var(--col) - 1) * var(--gap)) / var(--col) - 0.2em);
}

.red {
    background-color: salmon;
}
