body {
    margin: 0;
    background-color: black;
    color: wheat;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

.col1 {
    color: blue;
}

.col2 {
    color: green;
}

.col3 {
    color: red;
}

.col4 {
    color: salmon;
}

.col5 {
    color: orchid;
}

.col6 {
    color: black;
}

.col7 {
    color: white;
}

.col8 {
    color: sienna;
}

.field {
    cursor: pointer;
    display: grid;
    gap: var(--gap);
    width: var(--width);
    height: var(--height);
    grid-template-columns: repeat(var(--col), 1fr);
    grid-template-columns: repeat(var(--row), 1fr);
}

.box {
    margin: 0;
    padding: 0;
    background-color: rgba(184, 184, 184, .75);
    width: calc((var(--width) - (var(--row) - 1) * var(--gap)) / var(--row));
    height: calc((var(--height) - (var(--col) - 1) * var(--gap)) / var(--col));
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: calc((var(--height) - (var(--col) - 1) * var(--gap)) / var(--col) - 0.2em);
}

.red {
    background-color: salmon;
}